body{
    text-align: center;
    background-color: paleturquoise;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border: 1px solid black;
    background-color: beige;
}

.square{
    width: 150px;
    height: 150px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.square:hover{
    width: 160px;
    height: 160px;

}

.o{
    position: relative;

}

.o:after{
    position:absolute;
    content: "\1F6E1";
    font-size: 90px;
    line-height: 140px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;

}

.x:after{
    position:absolute;
    content: "\2694";
    font-size: 90px;
    line-height: 140px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.reset{
    margin-top: 10px;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background-color: beige;
    
}

.reset:hover{
    width: 150px;
    height: 60px;
}

@media only screen and (max-width: 600px) {
    .square{width: 100px; height: 100px;}
    .square:hover{width: 110px; height: 110px;}
    .x:after{font-size: 80px; line-height: 120px;}
    .o:after{font-size: 80px; line-height: 120px;}
}
